VOLC_ACCESSKEY=your_ak
VOLC_SECRETKEY=your_sk
COLLECTION_NAME=your_product_collection
FAQ_COLLECTION_NAME=your_faq_collection
LLM_ENDPOINT_ID=your_llm_endpoint_id
BUCKET_NAME=your_bucket_name
USE_SERVER_AUTH=True
ARK_API_KEY=your_ark_api_key
LANGUAGE=zh
